.search .form-control{
    border: 2px solid #414141;
    min-width: 35rem;
    border-radius: 0;
}
.search .btn-default{
    color: #fff;
    background-color: #414141;
    border-color: #414141;
    border-radius: 0;
    position: relative;
    left: -4px;
    padding: 6px 18px;
}
.carousel-inner .item{
    height: 450px;
    width: 100%;
    overflow: hidden;
}
.carousel-inner .item>img{
    height: 100%;
    width: 100%;
}
.carousel-caption{
    text-align: right;
    right: 20px;
}
.carousel-caption img{
    width: 160px;
}
.image-list .col-xs-6{
    height: 220px;
    overflow: hidden;
    margin-bottom: 10px;
}
.image-list .col-xs-6 span{
    position: relative;
    display: block;
    right: 10px;
    float: right;
    bottom: 88px;

}
.goods-list .item p{
    margin-bottom: 0;
}
.goods-list .item p img{
    margin-right: 5px;
}
.goods-list .item>img{
    width: 100%;

}
.item-title{
    margin-bottom: 15px;
}
.item-title .more img{
    position: relative;
    top: 15px;
}
.navbar-form{
    margin-left: 100px;
}
.introduce-content{
    height: 400px;
    width: 500px;
    position: absolute;
    background-color: rgba(255,255,255,0.5);
    z-index: 9999;
    bottom: 0;
    margin-left: 300px;
    padding: 5px 50px;
}
.introduce-content.login{
    top:0;
    height: auto;
}
.introduce-content h3{
    margin-bottom: 30px;
}
.introduce-content h3 span{
    color: #E77817;
}
.introduce-content p{
    line-height: 28px;
}
.login .title{
    padding-top: 40px;
}
.login .title img{
    padding-top: 30px;
    margin-right: -15px;
    width: 100px;
}
.login .form{
    margin-top: 60px;
}
.login .form input{
    display: block;
    width: 100%;

    height: 50px;
    padding-left: 60px;
    border:1px solid #ffffff;
    background-color: #ffffff;
    outline: none;
}












.icon-heart{
    position: relative;
    top:3px;
    background: url("../images/icon-heart.png");
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-right: 5px;
}
.icon-login-user{
    position: relative;
    top: -35px;
    margin-left: 20px;
    background: url("../images/icon-login-user.png");
    width: 14px;
    height: 19px;
    display: inline-block;
}
.icon-login-password{
    position: relative;
    top: -35px;
    margin-left: 20px;
    background: url("../images/icon-login-password.png");
    width: 16px;
    height: 17px;
    display: inline-block;
}
.icon-email{
    position: relative;
    top: -32px;
    margin-left: 20px;
    background: url("../images/icon-email.png");
    width: 20px;
    height: 15px;
    display: inline-block;
}
.login .forget{
    font-weight: 700;
    overflow: hidden;
}
.login .forget span{
    cursor: pointer;
}
.btn-login{
    background-color: #333;
    COLOR: #fff;
    border: none;
    height: 60px;
    width: 120px;
    font-size: 20px;
    float: right;
    margin-top: 15px;
}
.page-title{
    display: inline-block !important;
    margin-right: 30px;

}
.page-title img{
    margin-right: -15px;
    padding-top: 35px;

}
.page-title span{
    font-size: 18px;
    font-weight: 700;
}
.sign-up .content{
    padding: 40px;
}
.nav-tabs {
    border-bottom: 1px solid transparent;
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color: #333333;
}
.nav-tabs>li>a:hover {
    border-color: transparent;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #E2AB7E;
    cursor: default;
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom-color: transparent;
}
.btn-black{
    background: #000;
    border:1px solid #000;
    padding: 7px 20px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;

}
.my-order >.title{
    margin: 30px 0;

}
.my-order .title .col-md-4 span{
    font-size: 18px;
    padding-bottom:10px;
    border-bottom: 1px solid #E2AB7E;
}
.my-order .title .col-md-8 span.glyphicon-search{
    position: relative;
    right:-30px;
}
.my-order .title .col-md-8 input{
    height: 30px;
    padding-left: 30px;
    border: 2px solid #000;
    width: 230px;

}
.my-order .nav-tabs{
    border-bottom: 1px solid #e9e9e9;
    margin-bottom: 15px;
}
.my-order .title .col-md-8 span.search-order{
    background-color: #000;
    color: #fff;
    height: 30px;
    display: inline-block;
    padding: 0 10px;
    position: relative;
    line-height: 30px;
}
.my-order .nav-tabs>li.active>a,.my-order .nav-tabs>li.active>a:focus,.my-order .nav-tabs>li.active>a:hover {
    color: #E2AB7E;
    cursor: default;
    background-color: transparent;
    border-bottom: 1px solid #E2AB7E;
    border-bottom-color: #E2AB7E;
}
.order-content .item .title div span{
    display: inline-block;
    min-width: 120px;
    padding-bottom: 5px;
}
.order-content .item{
    font-size: 13px;
    border: 1px solid #DCDBE0;
    margin-bottom: 15px;
}
.order-content .item .title{
    background-color: #EFF0F4;
    padding: 10px 15px;

}
.order-content .item .detail{
    padding: 15px;
}
.order-content .item .detail .media-body span{
    display: block;
    padding-bottom: 5px;
}
.order-content .item .detail .media-right{
    white-space: nowrap;

}
.order-content .item .detail .media-right span{
    display: block;
}
.order-content .item .detail .media-right span:last-child{
    padding: 5px 10px;
    color: #fff;
    background-color: #000;
    margin-top: 25px;
    text-align: center;
}
.order-content .item .detail .media-right span.comment{
    margin-top: 5px;
}
.comment .media-body .radio-inline{
    margin-right: 80px;
}
.comment .media{
    padding: 30px 15px;
}
.comment .media-body {
    padding-left: 30px;
}
.comment .star{
    margin-bottom: 15px;
}
.comment .star span ,.comment .star img{
    margin-right: 15px;
}
.comment .star button{
    background-color: #000;
    color: #fff;
    border:1px solid #000;
    padding:5px 10px;
}
.my-order .row .form-group .form-control{
    background-color: #E6E6E6;
    border:1px solid #E6E6E6;
    height: 40px;
}
textarea.form-control{
    height: auto !important;
}
.pay-way{
    list-style: none;
    position: relative;
    top: -34px;
}
.pay-way li{
    background-color: #e6e6e6;
    width: 150px;
    padding: 5px 15px;
}
.pay-way li:hover{
    background-color: #FDEFEF;
}
.main-search input{
 width: 280px !important;
    border: 2px solid #000;
    border-radius: 0;
}
.main-search button{
    background-color: #000;
    border-radius: 0;
    color: #fff;
    border: 1px solid #000;
    position: relative;
    left: -4px;
}
span.location{
    padding: 5px 20px;
    background-color: #000;
    color: #FFF;
    margin-right: 30px;
    border-radius: 10px;
}
.navbar-right li span.glyphicon-user{
    background-color: #000;
    color: #fff;
    padding: 5px 5px;
    font-size: 18px;
    position: relative;
    top: -5px;
}
.pagination>li>a, .pagination>li>span {

    color: #333;
    border:1px solid #fff;
    padding: 3px 10px;
}
.pagination>li.active>a{
    background-color: #333;
    color: #fff;
    border:1px solid #333;
}




